header{
display: flex;
height: 520px;
width: 100%;
flex-direction: column;
align-items: center;
background-color: #f9e656cf;
background-image: url(../images/arches.png);
}

.user-header{

  margin-top: 140px;
}
.username {
  display: flex;
  justify-content: center;
}