header{
display: flex;
height: 520px;
width: 100%;
flex-direction: column;
align-items: center;
background-color: #faacaccf;
background-image: url(../images/arches.png);
}

.user-header{
  display: flex; 
  flex-direction: column;
  margin-top: 140px;
  
 }
 
.username {
  display: flex;
  justify-content: center;
  
}